<body>
    <mat-toolbar color="primary">
        <div class="logo-title-container">
            <img src="../assets/image2.png" alt="El-Renad Logo" class="navbar-logo">
            <span class="toolbar-title">{{ 'toolbar.title' | translate }}</span>
        </div>
        <span class="spacer"></span>
        <app-language-toggle></app-language-toggle>
        <button mat-button (click)="logout()">{{ 'toolbar.logout' | translate }}</button>
    </mat-toolbar>

    <div class="container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ 'home.title' | translate: {name: currentUser?.name} }}</mat-card-title>
                <mat-card-subtitle>{{ 'home.subtitle' | translate }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="trip-options">
                    <div class="option-row">
                        <h3>{{ 'home.trip_place' | translate }}</h3>
                        <app-trip-place (tripPlaceSelected)="onTripPlaceSelected($event)"></app-trip-place>
                    </div>

                    <div class="option-row">
                        <h3>{{ 'home.trip_type' | translate }}</h3>
                        <app-trips (tripTypeSelected)="onTripTypeSelected($event)"></app-trips>
                    </div>

                    <div class="option-row">
                        <h3>{{ 'home.outbound_time' | translate }}</h3>
                        <app-trip-time (tripTimeOutSelected)="onOutboundTimeSelected($event)"></app-trip-time>
                    </div>

                    <div class="option-row">
                        <h3>{{ 'home.return_time' | translate }}</h3>
                        <app-trip-time-return (tripTimeReturnSelected)="onReturnTimeSelected($event)"></app-trip-time-return>
                    </div>

                    <div class="option-row">
                        <h3>{{ 'home.trip_price' | translate }}</h3>
                        <app-trip-price (ticketPriceSelected)="onTicketPriceSelected($event)"></app-trip-price>
                    </div>

                    <div class="register-button-container">
                        <button mat-raised-button color="primary" (click)="registerTrip()">
                            {{ 'home.register_button' | translate }}
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</body>